.container{
    text-align: center;
    background-color: aqua;
}

.food{
    display: inline-block;
    margin:.5em 10px ;
    width :23%;
    height: auto;
    border-style: dashed;
}
.drink{
    display: inline-block;
    margin:.5em 10px ;
    width :23%;
    height: auto;
    border-style: dashed;
}
.state{
    display: inline-block;
    margin:.5em 10px ;
    width :23%;
    height: auto;
    border-style: dashed;
}
.powere{
    display: inline-block;
    margin:.5em 10px ;
    width :23%;
    height: auto;
    border-style: dashed;
}
.shoe{
    display: inline-block;
    margin:.5em 10px ;
    width :23%;
    height: auto;
    border-style: dashed;
}